/* Color Theme Swatches in Hex */
.Salesforce-CRM---AI-Scheduler-UX-UI-Design-1-hex { color: #525259; }
.Salesforce-CRM---AI-Scheduler-UX-UI-Design-2-hex { color: #212226; }
.Salesforce-CRM---AI-Scheduler-UX-UI-Design-3-hex { color: #CFF250; }
.Salesforce-CRM---AI-Scheduler-UX-UI-Design-4-hex { color: #E2F263; }
.Salesforce-CRM---AI-Scheduler-UX-UI-Design-5-hex { color: #F2E96B; }

/* Color Theme Swatches in RGBA */
.Salesforce-CRM---AI-Scheduler-UX-UI-Design-1-rgba { color: rgba(82, 82, 89, 1); }
.Salesforce-CRM---AI-Scheduler-UX-UI-Design-2-rgba { color: rgba(32, 33, 38, 1); }
.Salesforce-CRM---AI-Scheduler-UX-UI-Design-3-rgba { color: rgba(207, 242, 79, 1); }
.Salesforce-CRM---AI-Scheduler-UX-UI-Design-4-rgba { color: rgba(225, 242, 99, 1); }
.Salesforce-CRM---AI-Scheduler-UX-UI-Design-5-rgba { color: rgba(242, 233, 106, 1); }

/* Color Theme Swatches in HSLA */
.Salesforce-CRM---AI-Scheduler-UX-UI-Design-1-hsla { color: hsla(241, 4, 33, 1); }
.Salesforce-CRM---AI-Scheduler-UX-UI-Design-2-hsla { color: hsla(225, 8, 13, 1); }
.Salesforce-CRM---AI-Scheduler-UX-UI-Design-3-hsla { color: hsla(73, 86, 63, 1); }
.Salesforce-CRM---AI-Scheduler-UX-UI-Design-4-hsla { color: hsla(67, 84, 66, 1); }
.Salesforce-CRM---AI-Scheduler-UX-UI-Design-5-hsla { color: hsla(56, 84, 68, 1); }

/* Color Theme Swatches in Hex */
.Rich-Black-Palette--1-hex { color: #0C1F33; }
.Rich-Black-Palette--2-hex { color: #091726; }
.Rich-Black-Palette--3-hex { color: #060F18; }
.Rich-Black-Palette--4-hex { color: #03070C; }
.Rich-Black-Palette--5-hex { color: #000000; }

/* Color Theme Swatches in RGBA */
.Rich-Black-Palette--1-rgba { color: rgba(11, 31, 51, 1); }
.Rich-Black-Palette--2-rgba { color: rgba(8, 23, 38, 1); }
.Rich-Black-Palette--3-rgba { color: rgba(5, 14, 23, 1); }
.Rich-Black-Palette--4-rgba { color: rgba(2, 7, 11, 1); }
.Rich-Black-Palette--5-rgba { color: rgba(0, 0, 0, 1); }

/* Color Theme Swatches in HSLA */
.Rich-Black-Palette--1-hsla { color: hsla(210, 61, 12, 1); }
.Rich-Black-Palette--2-hsla { color: hsla(211, 61, 9, 1); }
.Rich-Black-Palette--3-hsla { color: hsla(210, 59, 5, 1); }
.Rich-Black-Palette--4-hsla { color: hsla(213, 59, 2, 1); }
.Rich-Black-Palette--5-hsla { color: hsla(0, 0, 0, 1); }

@font-face {
    font-family: 'Tusker Grotesk 2600';
    src: url('../font/TuskerGrotesk-2600Semibold.eot');
    src: local('../font/Tusker Grotesk 2600 Semibold'), local('TuskerGrotesk-2600Semibold'),
        url('../font/TuskerGrotesk-2600Semibold.eot?#iefix') format('embedded-opentype'),
        url('../font/TuskerGrotesk-2600Semibold.woff2') format('woff2'),
        url('../font/TuskerGrotesk-2600Semibold.woff') format('woff'),
        url('../font/TuskerGrotesk-2600Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tusker Grotesk 1800 Super';
    src: url('../font/TuskerGrotesk-1800Super.eot');
    src: local('../font/Tusker Grotesk 1800 Super'), local('TuskerGrotesk-1800Super'),
        url('../font/TuskerGrotesk-1800Super.eot?#iefix') format('embedded-opentype'),
        url('../font/TuskerGrotesk-1800Super.woff2') format('woff2'),
        url('../font/TuskerGrotesk-1800Super.woff') format('woff'),
        url('../font/TuskerGrotesk-1800Super.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal Medium';
    src: url('../font/PPNeueMontreal-Medium.woff2') format('woff2'),
        url('../font/PPNeueMontreal-Medium.woff') format('woff'),
        url('../font/PPNeueMontreal-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal Book';
    src: url('../font/PPNeueMontreal-Book.woff2') format('woff2'),
        url('../font/PPNeueMontreal-Book.woff') format('woff'),
        url('../font/PPNeueMontreal-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.h6 {
  text-decoration: none;
  font-family: 'Neue Montreal Book';
  font-weight: 600;
}

body {
    font-family: 'Neue Montreal Book';
    margin: 0;
    padding: 0;
    background-color: #060F18;
    color: #333;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../img/noise_texture.png');
  background-size: 267px 267px;
  background-repeat: repeat;
  z-index: -299;
  opacity: .0;
  padding: 0;
}

.main-wrapper {
  z-index: 10;
  position: absolute;
  top: 0px;
  padding-left: 0;
  padding-right: 0;
}

html {
  scroll-behavior: smooth;
}

SmoothScroll {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

div #Home {
  padding: 0;
}

.cursor {
}

h1 {
  font-family: "Neue Montreal Medium";
  color: #f2e8df;
}

h2 p {
  font-family: "Neue Montreal Book";
  color: #f2e8df;
}
