.name_first {
  font-family: "Tusker Grotesk 1800 Super";
  font-size: 200px;
  text-transform: uppercase;
  padding-bottom: 0;
  padding-top: 50px ;
  color: #f2e8df;
  line-height: 1.05;
}

.name_second {
  font-family: "Tusker Grotesk 1800 Super";
  padding-top: 0;
  font-size: 200px;
  text-transform: uppercase;
  color: #f2e8df;
  line-height: 1.05;
}

.intro {
  background-color: #03070C;
  padding: 0px 5% 0px 5%;
}
