header {
  position: fixed;
  top: 0px;
  left: 28px;
  right: 28px;
  z-index: 11;
  height: 55px;
}



ol {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav [class*="main-navigation_menu"] ol li {
  margin-left: .5rem;
}


.main-navigation {
  padding: 1.625rem 0rem 1.5rem 0rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 0.6px solid rgba(245, 238, 230, .5);
  position: relative;
}

div[class*="title"] a {
  display: flex;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #f2e8df;
}

div[class*="title"] a:hover{
  color: #BFB4AE;
  transition-duration: 0.2s;
}

div[class*="menu"] ol li a {
  display: flex;
  position: relative;
  text-decoration: none;
  color: #f2e8df;
  margin: 5px;
}

div[class*="menu"] ol li a:hover{
  color: #BFB4AE;
  transition-duration: 0.2s;
  font-weight: bold;
}

div[class*="menu"] ol li :before{
  position: absolute;
  left: 4rem;
  right: 4rem;
  bottom: -1px;
  color: #BFB4AE;
  background: #736965;
  content: "";
  opacity: 0%;
}

div[class*="menu"] ol li :hover:before{
  left: 0;
  right: .5rem;
  height: 2px;
  opacity: 100%;
  transition-duration: 0.2s;
  bottom: -1px;
}

nav [class*="main-navigation_menu"] ol li a:after {
  content: ".";
  position: relative;
  margin-right: .5rem;
}

header [class*="wrap-header--padding"] {
  position: relative;
}

div [class*="scroller"] {
  left: -28px;
  right: -28px;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(19, 19, 19, .15);
  backdrop-filter: blur(6px);
  z-index: -1;
}

header {
  position: fixed;
}

AnchorLink {
  position: sticky;
}
