.projects {
  font-size: 30px;
  font-family: 'Neue Montreal Medium';
  text-decoration: none;
  color: #f2e8df;
  line-height: 1.3;
  position: relative;
  padding: 0px 5vw 0px 5vw;
}

.canvas-container {
  margin-bottom: 100px;
  width: 90vw;
}
